body{
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
ol > li{
    display: inline;
    position: relative;
    /* coloca a posição dos filhos (ul) em relação ao pai (ol > li) */
}
ol > li > a{
    /* o âncora é formatado para ocupar uma área maior e, assim, melhorando a usabilidade */
    display: inline-block;
    padding: 1rem;
    color: darkcyan;
    background-color: gainsboro;
    text-decoration: none;
}
li > ul{
    position: absolute;
    padding: 1rem;
    background-color: gainsboro;
    visibility: hidden;
    /* define a visibilidade, nesse caso, escondido */
    top: 32px;
    left: 0;
}
ol > li:hover ul{
    /* atributos do ul que está dentro do li quando se passa o mouse nele */
    visibility: visible;
}
img{
    height: 0.8rem;
    margin-left: 0.5rem;
}