*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(58, 57, 56);
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(187, 187, 187);
    background-color: rgb(102, 3, 3);
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
}
p{
    margin: 2rem auto 0 auto;
    width: 35rem;
    color: rgb(199, 169, 169);
    text-align: justify;
}
div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
button{
    background-color: rgb(61, 47, 47);
    color: rgb(168, 168, 168);
    margin: 0 2rem;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(102, 86, 86);
}