*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    color: rgb(184, 141, 86);
    margin: 2rem 0;
}
p{
    margin: 2rem auto 0 auto;
    width: 35rem;
}
div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
button{
    background-color: rgb(245, 231, 192);
    margin: 0 2rem;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(255, 246, 222);
}