main{
    gap: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-areas:
    "a b b c d"
    "a e e e d"
    "a f f f d";
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 18rem 18rem 18rem;
}
section{
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(224, 224, 224);
}
section.a{
    grid-area: a;
}
section.b{
    grid-area: b;
}
section.c{
    grid-area: c;
}
section.d{
    grid-area: d;
}
section.e{
    grid-area: e;
}
section.f{
    grid-area: f;
}