*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    /* alinhamento/distribuição horizontal */
    align-items: center;
    /* alinhamento/distribução vertical */
}
section{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 2rem;
    width: 20rem;
    height: 20rem;
}